/* @define-color bg    #1d2021;  */
/* @define-color fg    #fbf1c7;  */
/* @define-color blk   #1d2021;  */
/* @define-color red   #fb4932;  */
/* @define-color grn   #b8bb26;  */
/* @define-color ylw   #fabd2f;  */
/* @define-color blu   #83a598;  */
/* @define-color mag   #d3869b;  */
/* @define-color cyn   #8ec07c;  */
/* @define-color brblk #665c54;  */
/* @define-color white #fbf1c7;  */

@import "../../.cache/wal/colors-waybar.css";

@define-color bg    @background;
@define-color fg    @foreground;
@define-color blk   @color0;
@define-color red   @color9;
@define-color grn   @color10;
@define-color ylw   @color11;
@define-color blu   @color12;
@define-color mag   @color13;
@define-color cyn   @color14;
@define-color brblk @color15;
@define-color white @color15;


* {
    font-family: "Courier Prime", monospace;
    font-size: 12px;
    font-weight: bold;
}

window#waybar {
    background-color: @bg;
    color: @fg;
}

#workspaces button {
    padding: 0 6px;
    color: @cyn;
    background: transparent;
    border-bottom: 3px solid @bg;
}
#workspaces button.active {
    color: @cyn;
    border-bottom: 3px solid @mag;
}
#workspaces button.hidden {
    color: @white;
}
#workspaces button.hidden.active {
    color: @cyn;
    border-bottom: 3px solid @mag;
}

#workspaces button.urgent {
    background-color: @red;
}

button:hover {
    background: inherit;
    box-shadow: inset 0 -3px #ffffff;
}

#clock,
#custom-sep,
#battery,
#cpu,
#memory,
#disk,
#network,
#temperature,
#tray {
    padding: 4px;
    color: @white;
    background: transparent;
}

#custom-sep {
    color: @brblk;
}

#clock {
    color: @cyn;
    border-bottom: 4px solid @cyn;
}

#battery {
    color: @blu;
    border-bottom: 4px solid @blu;
}

#disk {
    color: @ylw;
    border-bottom: 4px solid @ylw;
}

#memory {
    color: @mag;
    border-bottom: 4px solid @mag;
}

#cpu {
    color: @grn;
    border-bottom: 4px solid @grn;
}

#network {
    color: @red;
    border-bottom: 4px solid @red;
}

#network.disconnected {
    background-color: @red;
}

#temperature {
    color: @ylw;
    border-bottom: 4px solid @ylw;
}
